.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    
    .header-social-ribbon {
        background-color: #ff4b00;
        color: white;
        font-family: "proxima-nova", Helvetica, Arial, sans-serif;
        padding: 3px;

        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 85%;
            margin: auto;
            transition: all 0.3s ease;
        }

        p {
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }

        a {
            margin-right: 5px;
            font-size: 1.2rem;
        }

        .mobile {
            font-size: 0.9rem;
            display: inline;
            letter-spacing: 0.9px;

            &:hover {
                text-decoration: underline;
            }
        }

        @media (max-width: 768px) {
            .container {
                width: 95%;
            }
        }

    }

    .header-main {
        background-color: black;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        .container {
            width: 85%;
            margin: auto;
            line-height: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: all 0.3s ease-in-out;

            .header-right {
                display: flex;
                justify-content: center;
                align-items: center;

                a {
                    text-decoration: none;
                    color: white;
                    letter-spacing: 0.9px;
                    cursor: pointer;
                    margin-right: 20px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            .logo {
                width: 125px;
                cursor: pointer;
            }

            .hamburger-menu {
                display: none;
                cursor: pointer;
            }

            @media (max-width: 768px) {
                .header-right {
                    display: none;
                }

                .hamburger-menu {
                    display: block;

                    .icon{
                        margin-left: 20px;
                    }
                }
            }
        }

        button {
            background: none;
            border: none;
            cursor: pointer;
            background-color: #16b759;
            padding: 8px 16px;
            border-radius: 3px;
            letter-spacing: 1px;

            :hover {
                background-color: #00c46a;
            }
        }

        @media (max-width: 768px) {
            .container {
                width: 95%;
            }
        }
    }

    .menu-drop{
        background-color: #1d5c39;
        color: white;
        width: 100%;
        text-transform: uppercase;
        position: absolute;
        height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all 0.3s ease-in-out;

        &-container{
            display: flex;
            flex-direction: column;
            align-items: center;

            a{
                width: 100%;
                border-bottom: 0.5px solid grey;
                padding: 15px 10px;

                &:hover{
                    background-color: #16b759;
                }
            }
        }
    }

    .open{
        opacity: 1;
        height: auto;
    }
}